{% extends 'polls/base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home_style.css' %}" />
{% endblock custom_css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Welcome to Poll App!</h1>
                <h3>Your Opinion Matters!</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">Get Started !</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
